@model IList<Paramedic.Gestion.Model.ClientesUsuario>

<div id="clientesUsuariosList">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1" >
                            <table class="table table-hover table-striped table-bordered tableIndex">
                                <thead>
                                    <tr>
                                        <th class="col-xs-2 centrado">
                                            @Html.DisplayNameFor(model => model.First().Usuario.UserName)
                                        </th>
                                        <th class="col-xs-2 centrado">
                                            @Html.DisplayNameFor(model => model.First().ShamanFullId)
                                        </th>
                                        <th class="col-xs-2 centrado">
                                            @Html.DisplayNameFor(model => model.First().ShamanExpressId)
                                        </th>
 
                                        <th class="col-xs-1 centrado"></th>
                                        <th class="col-xs-1 centrado"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="col-xs-2 centrado">
                                                @Html.DisplayFor(modelItem => item.Usuario.UserName)
                                            </td>
                                            <td class="col-xs-2 centrado">
                                                @Html.DisplayFor(modelItem => item.ShamanFullId)
                                            </td>
                                            <td class="col-xs-2 centrado">
                                                @Html.DisplayFor(modelItem => item.ShamanExpressId)
                                            </td>
                                            <td class="centrado">
                                                <a href="@Url.Action("Edit", "ClientesUsuarios", new { id = item.Id , clienteId = item.ClienteId })" class="btn btn-small btn-success btn-actions">
                                                    <i class="btn-icon-only fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <td class="centrado">
                                                <a href="@Url.Action("Delete","ClientesUsuarios", new { id = item.Id , clienteId = item.ClienteId })" class="btn btn-small btn-success btn-actions delete" data-gestion-target="#clientesUsuariosList">
                                                    <i class="btn-icon-only fa fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                            <div class="centered">

                                <a href="@Url.Action("Create","ClientesUsuarios", new { clienteId = ViewBag.ClienteID })" class="btn btn-success btn-outline btnSubmit">
                                    Agregar Usuario
                                </a>

                            </div>
                        </div>
                    </div>
                </div>






