@model Paramedic.Gestion.Model.ClientesTerminal

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="widget">
                    <div class="widget-header">
                        
                        <h3>Registro de Terminal</h3>
                    </div>
                    <div class="widget-content">
                        <fieldset>
                            <div class="control-group">
                                @Html.LabelFor(model => model.TipoTerminalId, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.DropDownList("TipoTerminalID", null, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.TipoTerminalId)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Referencia, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Referencia, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.Referencia)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Valor1, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Valor1, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.Valor1)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Valor2, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Valor2, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.Valor2)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Valor3, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Valor3, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.Valor3)
                                </div>
                            </div>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Valor4, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Valor4, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.Valor4)
                                </div>
                            </div>

                            <br>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn-outline">Guardar</button>
                                <a href="@Url.Action("Index")" class="btn btn-danger btn-outline">Cancelar</a>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

