@model Paramedic.Gestion.Model.Revendedor

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="widget">
                    <div class="widget-header">
                        
                        <h3>Registro de Revendedores</h3>
                    </div>
                    <div class="widget-content">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="Nombre">Nombre</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Nombre, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.Nombre)
                                </div>

                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Comision">Comisi&oacute;n</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Comision, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.Comision)
                                </div>

                            </div>

                            <div class="control-group">
                                <label class="control-label" for="BajoContrato">Bajo contrato?</label>
                                <div class="controls">
                                    @Html.EditorFor(model => model.BajoContrato, new { @class = "form-control", @placeholder = "Contrato?" })
                                    @Html.ValidationMessageFor(model => model.BajoContrato)
                                </div>

                            </div>

                            <br>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn-outline">Guardar</button>
                                <a href="@Url.Action("Index")" class="btn btn-danger btn-outline">Cancelar</a>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
