@model Paramedic.Gestion.Web.ViewModels.ClienteViewModel

@{
    var latlng = "";
    if (Model != null)
    {
        latlng = "http://maps.google.com/maps?output=embed&q=" + Model.Latitud + "," + Model.Longitud;
    }
    
}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="widget">
                    <div class="widget-header">
                        <i class="fa fa-key"></i>
                        <h3>Registro de Clientes</h3>
                    </div>

                    <div class="widget-content">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="RazonSocial">Razon Social</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.RazonSocial, new { @class = "col-xs-5", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.RazonSocial)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="SitioWeb">Sitio Web</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.SitioWeb, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.SitioWeb)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Revendedor">Revendedor</label>
                                <div class="controls">
                                    @Html.DropDownListFor(x => x.RevendedorId, new SelectList(ViewBag.Revendedores, "ID", "Nombre"), "Seleccione Revendedor", new { @class = "col-xs-5" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Localidad">Localidad</label>
                                <div class="controls">
                                    @Html.DropDownListFor(x => x.LocalidadId, new SelectList(ViewBag.Localidades, "ID", "Descripcion"), new { @class = "selectLoc col-xs-5", data_validar_localidad = "true" })
                                    @Html.ValidationMessageFor(model => model.LocalidadId)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Pais">Pa&iacute;s</label>
                                <div class="controls">
                                    <input type="text" disabled="disabled" id="paisCliente" class="col-xs-5" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Provincia">Provincia</label>
                                <div class="controls">
                                    <input type="text" disabled="disabled" id="provCliente" class="form-control" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="CuentaCorrienteID">Cuenta Corriente ID</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CuentaCorrienteId, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.CuentaCorrienteId)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Calle">Calle</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Calle, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.Calle)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Altura">Altura</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Altura, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.Altura)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Departamento">Departamento</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Departamento, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.Departamento)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Piso">Piso</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Piso, new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.Piso)
                                </div>
                            </div>

                            @if ((Model != null))
                            {
                                if (Model.Latitud != null)
                                {
                                <div class="control-group">
                                    <label class="control-label" for="Piso">Ubicaci&oacute;n en el mapa</label>
                                    <div class="controls">

                                        <a href="@latlng" class="btn btn-primary various fancybox.iframe btn-actions"><i class="icon-globe"></i>Ver Ubicación</a>

                                    </div>
                                </div>

                                }
                            }

                            <div class="control-group">
                                <label class="control-label" for="MedioDifusionID">Medio de Difusi&oacute;n</label>
                                <div class="controls">
                                    @Html.DropDownListFor(x => x.MedioDifusionId, new SelectList(ViewBag.MediosDifusion, "ID", "Descripcion"), new { @class = "col-xs-5" })
                                    @Html.ValidationMessageFor(model => model.MedioDifusionId)
                                </div>
                            </div>