@model Paramedic.Gestion.Web.ViewModels.ClienteViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)


    <svg class="hidden">
        <defs>
            <path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z" />
        </defs>
    </svg>
                <div class="container">
                    <section>
                        <div class="tabs tabs-style-shape">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#datosGrales">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <span>Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-shape-2">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <span>Design</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-shape-3">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <span>Work</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-shape-4">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <span>Portfolio</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-shape-5">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <span>Portfolio</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-shape-6">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <span>Portfolio</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-shape-7">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <span>Portfolio</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-shape-8">
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
                                            <span>Portfolio</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="content-wrap">
                                <section id="datosGrales">
                                    @Html.Partial("_Form", Model)
                                    @Html.Partial("_BottomForm", Model)
                                </section>
                                <section id="section-shape-2"><p>2</p></section>
                                <section id="section-shape-3"><p>3</p></section>
                                <section id="section-shape-4"><p>4</p></section>
                                <section id="section-shape-5"><p>5</p></section>
                                <section id="section-shape-6"><p>5</p></section>
                                <section id="section-shape-7"><p>5</p></section>
                                <section id="section-shape-8"><p>5</p></section>
                            </div>
                        </div>
                    </section>
                </div>

                <script>
                    (function () {

                        [].slice.call(document.querySelectorAll('.tabs')).forEach(function (el) {
                            new CBPFWTabs(el);
                        });

                    })();
                </script>



                @*<ul class="nav nav-tabs" id="tabsCliente">
                        <li class="active"><a href="#datosGrales" data-toggle="tab">Datos Generales</a></li>
                        <li><a href="#contactos" data-toggle="tab">Contactos</a></li>
                        <li><a href="#licencias" data-toggle="tab">Licencias</a></li>
                        <li><a href="#gestiones" data-toggle="tab">Gestiones</a></li>
                        <li><a href="#terminales" data-toggle="tab">Terminales</a></li>
                        <li><a href="#usuarios" data-toggle="tab">Usuarios</a></li>
                        <li><a href="#ctaCorriente" data-toggle="tab">Cuenta Corriente</a></li>
                        <li><a href="#productos" data-toggle="tab">Productos</a></li>
                    </ul>

                    @if (TempData["noMoreLicence"] != null)
                    {
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            @TempData["noMoreLicence"]
                        </div>
                    }

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="datosGrales">
                            @Html.Partial("_Form", Model)
                            @Html.Partial("_BottomForm", Model)
                        </div>
                        <div class="tab-pane fade" id="contactos">
                            @Html.Action("Index", "ClientesContactos", routeValues: new { ClienteID = Model.Id })
                        </div>
                        <div class="tab-pane fade" id="licencias">
                            @Html.Action("Index", "ClientesLicencias", routeValues: new { ClienteID = Model.Id })
                        </div>
                        <div class="tab-pane fade" id="gestiones">
                            @Html.Action("Index", "ClientesGestiones", routeValues: new { ClienteID = Model.Id })
                        </div>
                        <div class="tab-pane fade" id="terminales">
                            @Html.Action("Index", "ClientesTerminales", routeValues: new { ClienteID = Model.Id })
                        </div>
                        <div class="tab-pane fade" id="usuarios">
                            @Html.Action("Index", "ClientesUsuarios", routeValues: new { ClienteID = Model.Id })
                        </div>
                        @*<div class="tab-pane fade" id="ctaCorriente">
                                @Html.Action("Index", "CuentaCorriente", routeValues: new { ClienteID = Model.Id })
                            </div>
                        <div class="tab-pane fade" id="productos">
                            @Html.Action("Index", "MisProductos", routeValues: new { ClienteID = Model.Id })
                        </div>
                    </div>*@


}