@model IList<Paramedic.Gestion.Model.ClientesGestion>

<div id="clientesGestionesList">
    <div class="row">
        <div class="span10 offset1">
            <table class="table table-hover table-striped table-bordered tableIndex" id="tbGestion">
                <thead>
                    <tr>
                        <th class="span2 centrado">
                            @Html.DisplayNameFor(model => model.First().Fecha)
                        </th>
                        <th class="span2 centrado">
                            @Html.DisplayNameFor(model => model.First().Estado.Descripcion)
                        </th>
                        <th class="span4 centrado">
                            @Html.DisplayNameFor(model => model.First().Observaciones)
                        </th>
                        <th class="span2 centrado">
                            @Html.DisplayNameFor(model => model.First().FechaRecontacto)
                        </th>

                        <th class="span1 centrado">PDF</th>
                        <th class="span1 centrado"></th>
                        <th class="span1 centrado"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="span2 centrado">
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td class="span2 centrado">
                                @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                            </td>
                            <td class="span4 centrado">
                                @Html.DisplayFor(modelItem => item.Observaciones)
                            </td>
                            <td class="span2 centrado">
                                @Html.DisplayFor(modelItem => item.FechaRecontacto)
                            </td>
                            <td class="span1 centrado">
                                @if (item.PdfGestion != null)
                                {
                                    <a href="@Url.Action("PdfDisplay", "ClientesGestiones", new { id = item.Id, clienteId = item.ClienteId })" target="_blank">
                                        <i class="icon-list-alt azulOscuro"></i>
                                    </a>
                                }
                            </td>
                            <td class="centrado">
                                <a href="@Url.Action("Edit", "ClientesGestiones", new { id = item.Id, clienteId = item.ClienteId })" class="btn btn-small btn-success btn-actions">
                                    <i class="btn-icon-only icon-pencil"></i>
                                </a>
                            </td>
                            <td class="centrado">
                                <a href="@Url.Action("Delete","ClientesGestiones", new { id = item.Id, clienteId = item.ClienteId })" class="btn btn-small btn-success btn-actions delete" data-gestion-target="#clientesGestionesList">
                                    <i class="btn-icon-only icon-remove"></i>
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">

                <div class="span4 offset4">
                    <a href="@Url.Action("Create", "ClientesGestiones",new { ClienteId = @ViewBag.Cliente_ID })" class="btn btn-block  btn-primary btnSubmit btn-actions">
                        Agregar Gesti&oacute;n
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>