@model PagedList.IPagedList<Gestion.Models.Usuario>
@using PagedList.Mvc;

<div id="usuariosList">
    <div class="row">
        <div class="span10 offset1">
            <div class="widget widget-table action-table">
                <div class="widget-header">
                    <i class="icon-th-list"></i>
                    <h3>Usuarios</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="span2">@Html.DisplayNameFor(model => model.First().Descripcion) </th>
                                <th class="span2">@Html.DisplayNameFor(model => model.First().Nombre)</th>
                                <th class="span2">@Html.DisplayNameFor(model => model.First().Apellido) </th>
                                <th class="span2">@Html.DisplayNameFor(model => model.First().Email) </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        <a href="Usuarios/Edit/@item.ID" class="btn btn-small btn-success btn-actions"><i class="btn-icon-only icon-ok"> </i></a>
                                    </td>
                                    <td>
                                        <a href="Usuarios/Delete/@item.ID" class="btn btn-small btn-success btn-actions delete" data-gestion-target="#usuariosList"><i class="btn-icon-only icon-delete"> </i></a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
                <!-- /widget-content -->
            </div>

        </div>
    </div>
    <div class="row">
        <div class="pagedList span7 offset5" data-gestion-target="#usuariosList">

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        </div>

        <!-- /row -->
    </div>
</div>
<!-- /container -->
