@model PagedList.IPagedList<Paramedic.Gestion.Model.Producto>
@using PagedList.Mvc;

<div id="productosList">
    <div class="row">
        <div class="span10 offset1">
            <div class="widget widget-table action-table" style="margin-bottom:0">
                <div class="widget-header">
                    <i class="icon-th-list"></i>
                    <h3>Productos</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="span2">@Html.DisplayNameFor(model => model.First().Numero) </th>
                                <th class="span5">@Html.DisplayNameFor(model => model.First().Descripcion)</th>
                                <th class="span1"></th>
                                <th class="span1"></th>
                                <th class="span1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Numero)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td class="centrado">
                                        <a href="@Url.Action("Index","Productos/" + item.Id + "/ProductosModulos")" class="btn btn-small btn-success btn-actions">
                                            <i class="btn-icon-only fa fa-search"></i>
                                        </a>
                                    </td>

                                    <td class="centrado">
                                        <a href="@Url.Action("Edit", "Productos", new { id = item.Id })" class="btn btn-small btn-success btn-actions">
                                            <i class="btn-icon-only fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td class="centrado">
                                        <a href="@Url.Action("Delete","Productos", new { id = item.Id })" class="btn btn-small btn-success btn-actions delete" data-gestion-target="#productosList">
                                            <i class="btn-icon-only fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="pagedList span7 offset5" data-gestion-target="#productosList">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>