@model PagedList.IPagedList<Paramedic.Gestion.Model.SocialService>
@using PagedList.Mvc;

<div id="socialServicesList">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="widget widget-table action-table" style="margin-bottom:0">
                <div class="widget-header">

                    <h3>Servicios de comunicación</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Canal</th>
                                <th class="col-xs-3">Descripción</th>
                                <th class="col-xs-1">Habilitado?</th>
                                <th class="col-xs-1"></th>
                                <th class="col-xs-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="centrado">
                                        <i class="@item.SocialServiceType.Icon"></i>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td class="centrado">
                                        @if (item.Enabled)
                                        {
                                            <i class="fa fa-check color-green-navbar"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times color-red"></i>
                                        }
                                    </td>

                                    <td class="centrado">
                                        <a href="@Url.Action("Edit", "SocialServices", new { id = item.Id })" class="btn btn-small btn-success btn-actions">
                                            <i class="btn-icon-only fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td class="centrado">
                                        <a href="@Url.Action("Delete","SocialServices", new { id = item.Id })" class="btn btn-small btn-success btn-actions delete" data-gestion-target="#socialServicesList">
                                            <i class="btn-icon-only fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="pagedList centered" data-gestion-target="#socialServicesList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>

