@model Paramedic.Gestion.Model.ClientesLicencia

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="widget">
                    <div class="widget-header">
                        
                        <h3>Registro de Licencia</h3>
                    </div>
                    <div class="widget-content">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="Licencia">Licencia</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.LicenciaId, new SelectList(ViewBag.Licencias, "Id", "Serial"), new { @class = " col-xs-12 form-control" })
                                    @Html.ValidationMessageFor(model => model.LicenciaId)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="CnnDataSource">Data Source</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CnnDataSource, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.CnnDataSource)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="CnnCatalog">Catalog</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CnnCatalog, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.CnnCatalog)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="CnnUser">User</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CnnUser, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.CnnUser)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="CnnPassword">Password</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CnnPassword, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.CnnPassword)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="CnnServidor">Servidor</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.ConexionServidor, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.ConexionServidor)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="FechaDeVencimiento">Fecha de Vencimiento</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.FechaDeVencimiento, "{0:dd/MM/yyyy}", new { @class = "col-xs-12 form-control datepicker" })
                                    @Html.ValidationMessageFor(model => model.FechaDeVencimiento)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="SitioWeb">Sitio Web</label>
                                <div class="controls">
                                    @Html.DropDownListFor(x => x.SitioId, new SelectList(ViewBag.Sitios, "Id", "Descripcion"), "Seleccione Sitio Web", new { @class = "col-xs-12 form-control" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Puerto">Puerto</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.SitioPuerto, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.SitioPuerto)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="SubDominio">Sub dominio</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.SitioSubDominio, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.SitioSubDominio)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Alias">Alias</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Alias, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.Alias)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="AndroidPassword">Password para Android</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.AndroidPassword, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.AndroidPassword)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="AndroidUrl">Url para Android</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.AndroidUrl, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.AndroidUrl)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="FtpAndroidDir">Dirección Ftp para archivos de Android</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.FtpAndroidDir, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.FtpAndroidDir)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="FtpAndroidUser">Usuario Ftp para archivos de Android</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.FtpAndroidUser, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.FtpAndroidUser)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="FtpAndroidPassword">Password Ftp para archivos de Android</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.FtpAndroidPassword, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.FtpAndroidPassword)
                                </div>
                            </div>

                            <br>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn-outline">Guardar</button>
                                <a href="@Url.Action("Edit", "Clientes", new { id = ViewBag.ClienteId })" class="btn btn-danger btn-outline">Cancelar</a>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

