@model Paramedic.Gestion.Model.ClientesLicencia

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)

    @Html.Partial("_Form", Model)

    List<Gestion.ViewModels.ProductosAsignados> prodAsig = ViewBag.Productos;
    <div class="container">
        <div class="span6 offset3">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-key"></i>
                    <h3>Productos y M&oacute;dulos</h3>
                </div>
                <div class="widget-content">
                    @foreach (var prod in prodAsig)
                    {
                        <div class="row">
                            <div class="make-switch make-switch-full span3 offset1" data-text-label="@prod.Descripcion"
                                 data-on-label="
                                <i class='icon-ok'></i>"
                                data-off-label="<i class='fa fa-times'></i>">
                                <input type="checkbox" name="selectedProductos" value="@prod.ProductoID" id="@prod.ProductoID" @(Html.Raw(prod.Asignado ? "checked" : "")) />
                            </div>

                            <a href="@Url.Action("GetModExcluidos","ClientesLicencias",
                                    new {
                                        clientesLicenciaId = Model.Id,
                                        productoId = @prod.ProductoID
                                    })"
                               class="modExcluidos span1"
                               data-gestion-setmode class="modExcluidos span1"
                               data-gestion-setmodexc="@Url.Action("SetModExcluidos","ClientesLicencias",
                                 new {
                                        clientesLicenciaId = Model.Id,
                                        productoId = @prod.ProductoID
                                    })">
                                @(Html.Raw(prod.Asignado ? "<i class=\"fa fa-search lupasModulos\"></i>" : ""))
                            </a>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}






