@model Paramedic.Gestion.Model.ClientesLicencia

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	@Html.HiddenFor(model => model.Id)

	@Html.Partial("_Form", Model)

	List<Gestion.ViewModels.ProductosAsignados> prodAsig = ViewBag.Productos;
	<div class="container">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="widget">
				<div class="widget-header">

					<h3>Productos y M&oacute;dulos</h3>
				</div>
				<div class="widget-content">
					@foreach (var prod in prodAsig)
					{
						<div class="row">
							<label>
								<input type="checkbox"
									   name="selectedProductos"
									   class="margin-right-10"
									   value="@prod.ProductoID" id="@prod.ProductoID"
									   @(Html.Raw(prod.Asignado ? "checked" : "")) />
								@prod.Descripcion
							</label>


							<a href="@Url.Action("GetModExcluidos","ClientesLicencias",
                                    new {
                                        clientesLicenciaId = Model.Id,
                                        productoId = @prod.ProductoID
                                    })"
							   class="modExcluidos col-xs-1"
							   data-gestion-setmode
							   data-gestion-setmodexc="@Url.Action("SetModExcluidos","ClientesLicencias",
                                 new {
                                        clientesLicenciaId = Model.Id,
                                        productoId = @prod.ProductoID
                                    })">
								@(Html.Raw(prod.Asignado ? "<i class=\"fa fa-search lupasModulos\"></i>" : ""))
							</a>

						</div>
					}
				</div>
			</div>
		</div>
	</div>
}






