@model Paramedic.Gestion.Model.Ticket
@using Paramedic.Gestion.Model.Enums
@{
    var tkEventos = Model.TicketEventos.OrderBy(p => p.CreatedDate);
}
<ul class="timeline" style="margin-top:20px">

    @foreach (var item in tkEventos)
    {
        var isQuestion = item.TicketTipoEventoType == TicketEventoType.Question;
        var liClass = isQuestion ? "" : "timeline-inverted";
        var timelineBadgeClass = isQuestion ? "success" : "warning";
        var icon = isQuestion ? "fa-envelope-o" : "fa-user-o";

        <li class="@liClass">
            <div class="timeline-badge @timelineBadgeClass">
                <i class="fa @icon"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">@item.Usuario.UserName</h4>
                    @if (item.ImageData != null)
                    {
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                @if (item.ImageData != null)
                                {
                                    <li>
                                        <a href="@Url.Action("GetImage", "MisTickets",new {id = item.Id, ticketId = item.TicketId })" class="single_image" rel="fancy">
                                            <i class="fa fa-camera-retro fa-fw"></i> Ver adjunto
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    }
                    <p>
                        <small class="text-muted"><i class="fa fa-clock-o"></i> @item.CreatedDate.ToShortDateString(), a las @item.CreatedDate.ToShortTimeString()</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>@item.Descripcion</p>
                </div>
            </div>
        </li>
    }
</ul>