@model Paramedic.Gestion.Model.Ticket
@using Paramedic.Gestion.Model.Enums

<div class="main">
    <div class="main-inner">
        <div class="container">

            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="widget">
                        <div class="widget-header">
                            <h3>@Model.Asunto</h3>


                        </div>
                        <div class="widget-content">

                            @*@if (@User.IsInRole("Administrador"))
                            {
                                <div style="float:right">
                                    <div class="checkbox">
                                        <label style="font-size: 1.3em">
                                            <input type="checkbox" id="chkFuturaMejora" name="chkFuturaMejora">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            Futura mejora
                                        </label>
                                    </div>
                                </div>
                            }
                            @Html.HiddenFor(x=> x.FuturaMejora)*@
                            @Html.HiddenFor(x => x.Id)
                            @Html.Partial("_ListaEventos", Model)

                        </div>
                    </div>

                    <div id="bottomEditTicket">

                        @if (Model.TicketEstadoType == TicketEstadoType.Resolved)
                        {
                            <div class="alert alert-danger">
                                <strong>Ticket resuelto!</strong> Para cualquier otra consulta, inicie otro ticket.
                            </div>
                        }
                        else if (User.IsInRole("Administrador"))
                        {
                            @Html.Partial("_BotonResponder")
                        }
                        else
                        {
                            <div class="centered">
                                <a href="@Url.Action("TicketEvento","MisTickets",new { ticketId = Model.Id })" class="btn btn-success btn-outline">Nueva Consulta</a>

                                @using (Html.BeginForm("CloseTicket", "MisTickets", FormMethod.Post, new { @class = "display-webkit-inline-box" }))
                                {
                                    @Html.HiddenFor(x => x.Id)
                                    <button type="submit" class="btn btn-danger btn-outline">Cerrar Ticket</button>
                                }

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
