@model Paramedic.Gestion.Model.Ticket
@using Paramedic.Gestion.Model.Enums

    <div class="main">
        <div class="main-inner">
            <div class="container">

                <div class="row" >
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="widget">
                            <div class="widget-header">

                                <i class="fa fa-times-circle"></i>
                                <h3>@Model.Asunto</h3>

                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div style="text-align:right">
                                    @if (@User.IsInRole("Administrador"))
                                    {
                                        @Html.LabelFor(x => x.FuturaMejora, new { style = "display: inline; margin-right:5px" })
                                        @Html.EditorFor(x => x.FuturaMejora)
                                        @Html.HiddenFor(x => x.Id)
                                    }
                                    <hr />
                                </div>
                                @Html.Partial("_ListaEventos", Model)

                                <!-- /bar-chart -->
                            </div>
                            <!-- /widget-content -->
                        </div>

                        <div id="bottomEditTicket">

                            @if (Model.TicketEstadoType == TicketEstadoType.Resolved)
                            {
                                @Html.Partial("_Cerrado")
                            }
                            else if (User.IsInRole("Administrador"))
                            {
                                @Html.Partial("_BotonResponder")
                            }
                            else
                            {
                                @Html.Partial("_BotonConsultaCerrar")
                            }

                        </div>
                    </div>
                </div>
            </div>
            <!-- /main-inner -->
        </div>
    </div>
