<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shaman Gesti&oacute;n - Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    @Styles.Render("~/bundles/gestion_css")
    @Styles.Render("~/bundles/signin_css")
	<link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
</head>

<body>

    @RenderBody()


    @Scripts.Render("~/bundles/libraries_js")
    @Scripts.Render("~/bundles/login_js")
    @RenderSection("scripts", required: false)

</body>

</html>
