<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Shaman Gesti&oacute;n</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCgGOZyoyPNYnpqnmUR4NbLsRDowF-sYG8"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />
    @Styles.Render("~/bundles/gestion_css")
    @Scripts.Render("~/bundles/mapa")
    @Scripts.Render("~/bundles/tabs")
	<link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <script type="text/javascript">
        var base_url_gestion = '@string.Format("{0}://{1}{2}/", @HttpContext.Current.Request.Url.Scheme, @HttpContext.Current.Request.Url.Authority, @HttpContext.Current.Request.ApplicationPath)';
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <meta name="description" content="Shaman Gestion" />
</head>
<body>
    <div id="navbar-full">
        <div id="navbar">
            <!--
             navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange
             -->
            <nav class="navbar navbar-ct-green navbar-fixed-top" role="navigation">

                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-brand-logo" href="">
                            <div class="logo">
                                <i class="fa fa-scribd fa-2x"></i>

                            </div>
                            <div class="brand"> Shaman Gestión </div>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            @if (User.IsInRole("Administrador"))
                            {
                                @Html.Action("Recontacto", "Home")
								@Html.Action("GetVencimientosCount", "ClientesLicencias")
							}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user fa-2x"></i>
                                    <p>@User.Identity.Name</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="system-options-dropdown">
                                        <a href="#" id="cerrarSesion">
                                            <i class="fa fa-sign-out"></i>
                                            <span>Cerrar Sesión</span>
                                        </a>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                        }
                                    </li>
                                    
                                    <li class="system-options-dropdown">
                                        <a href="#">
                                            <i class="fa fa-bars"></i><span>Opciones del usuario</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div> 


    <div class="subnavbar">
        <div class="subnavbar-inner">
            <div class="container">
                <ul class="mainnav">

                    @if (User.IsInRole("Administrador"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-folder-open"></i><span>General <i class="fa fa-caret-square-o-down margin-left-5"></i></span></a>
                            <ul class="dropdown-menu">
								<li>@Html.ActionLink("Canales de comunicación", "Index", "SocialServiceTypes")</li>
                                <li>@Html.ActionLink("Clasif. de consultas", "Index", "TicketsClasificaciones")</li>
								<li>@Html.ActionLink("Estados", "Index", "Estados")</li>
                                <li>@Html.ActionLink("Licencias", "Index", "Licencias")</li>
								<li>@Html.ActionLink("Logs del Sistema", "Index", "LogsRegistrosSistema")</li>
								<li>@Html.ActionLink("Noticias", "Index", "Noticias")</li>
								<li>@Html.ActionLink("Medios de difusión", "Index", "MediosDifusion")</li>
                                <li>@Html.ActionLink("Países", "Index", "Paises")</li>
                                <li>@Html.ActionLink("Productos", "Index", "Productos")</li>
                                <li>@Html.ActionLink("Revendedores", "Index", "Revendedores")</li>
								<li>@Html.ActionLink("Servicios de comunicación", "Index", "SocialServices")</li>
                                <li>@Html.ActionLink("Sitios", "Index", "Sitios")</li>
								<li>@Html.ActionLink("Terminales", "Index", "TipoTerminales")</li>
                            </ul>
                        </li>

                        <li class="@(@Request.Path.Contains("Clientes") ? "selected-menu-option" : "")">
                            <a href="@Url.Action("Index", "Clientes")">
                                <i class="fa fa-user"></i>
                                <span>Clientes</span>
                            </a>
                        </li>
                        <li class="@(@Request.Path.Contains("/Contactos") ? "selected-menu-option" : "")">
                            <a href="@Url.Action("Index", "Contactos")">
                                <i class="fa fa-users"></i>
                                <span>Contactos</span>
                            </a>
                        </li>

                        <li class="@(@Request.Path.Contains("Account") ? "selected-menu-option" : "")">
                            <a href="@Url.Action("Index", "Account")">
                                <i class="fa fa-key"></i>
                                <span>Usuarios</span>
                            </a>
                        </li>
                        <li class="@(@Request.Path.Contains("LicenciasLogs") ? "selected-menu-option" : "")">
                            <a href="@Url.Action("Index", "LicenciasLogs")">
                                <i class="fa fa-file"></i>
                                <span>Logs</span>
                            </a>
                        </li>
                        <li class="@(@Request.Path.Contains("Recontactos") ? "selected-menu-option" : "")">
                            <a href="@Url.Action("Index", "Recontactos")">
                                <i class="fa fa-envelope-o"></i>
                                <span>Recontactos</span>
                            </a>
                        </li>

                        <li class="@(@Request.Path.Contains("Mapa") ? "selected-menu-option" : "")">
                            <a href="@Url.Action("Index", "Mapa")">
                                <i class="fa fa-globe"></i>
                                <span>Mapa</span>
                            </a>
                        </li>

                    }

                    else if (User.IsInRole("Cliente"))
                    {
                        <li class="@(@Request.Path.Contains("CuentaCorriente") ? "selected-menu-option" : "")">
                            <a href="@Url.Action("Index", "CuentaCorriente")">
                                <i class="fa fa-money"></i>
                                <span>Cuenta corriente</span>
                            </a>
                        </li>

                        <li class="@(@Request.Path.Contains("MisProductos") ? "selected-menu-option" : "")">
                            <a href="@Url.Action("Index", "MisProductos")">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Mis Productos</span>
                            </a>
                        </li>
                    }

                    <li class="@(@Request.Path.Contains("MisTickets") ? "selected-menu-option" : "")">
                        <a href="@Url.Action("Index", "MisTickets")">
                            <i class="fa fa-comment"></i>
                            <span>Consultas</span>
                        </a>
                    </li>
                    <li class="@(@Request.Path.Contains("Videos") ? "selected-menu-option" : "")">
                        <a href="@Url.Action("Index", "Videos")">
                            <i class="fa fa-video-camera"></i>
                            <span>Videos</span>
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </div>


    <section>
        @RenderBody()
    </section>

	@Scripts.Render("~/bundles/libraries_js")
	@Scripts.Render("~/bundles/general_js")

	@RenderSection("scripts", required: false)


</body>
</html>
