@model PagedList.IPagedList<Gestion.Models.ClientesContacto>
@using PagedList.Mvc;

<div id="contactosList">
    <div class="row">
        <div class="span10 offset1">
            <div class="widget widget-table action-table">
                <div class="widget-header">
                    <i class="icon-th-list"></i>
                    <h3>Usuarios</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="span3">@Html.DisplayNameFor(model => model.First().Cliente.RazonSocial) </th>
                                <th class="span2">@Html.DisplayNameFor(model => model.First().Nombre)</th>
                                <th class="span2">@Html.DisplayNameFor(model => model.First().Email) </th>
                                <th class="span2">@Html.DisplayNameFor(model => model.First().Telefono) </th>
                                <th class="span1">@Html.DisplayNameFor(model => model.First().flgPrincipal) </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="span3">
                                        @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
                                    </td>
                                    <td class="span2">
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td class="span2">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class="span2">
                                        @Html.DisplayFor(modelItem => item.Telefono)
                                    </td>
                                    <td class="span1 centrado">
                                        @{
                                            if (item.flgPrincipal == 1)
                                            {                                        
                                                <i class="icon-star"></i>
                                            }                            
                                        }
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
                <!-- /widget-content -->
            </div>

        </div>
    </div>
    <div class="row">
        <div class="pagedList span7 offset3" data-gestion-target="#contactosList">

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        </div>

        <!-- /row -->
    </div>
</div>
<!-- /container -->

