@model PagedList.IPagedList<Paramedic.Gestion.Model.TipoTerminal>
@using PagedList.Mvc;
<div id="tipoTerminalesList">
    <div class="row">
        <div class="span8 offset2">
            <div class="widget widget-table action-table" style="margin-bottom:0">
                <div class="widget-header">
                    <i class="icon-th-list"></i>
                    <h3>Terminales</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="span5">@Html.DisplayNameFor(model => model.First().Descripcion)</th>
                                <th class="span1"></th>
                                <th class="span1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td class="centrado">
                                        <a href="@Url.Action("Edit", "TipoTerminales", new { id = item.Id })" class="btn btn-small btn-success btn-actions">
                                            <i class="btn-icon-only fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td class="centrado">
                                        <a href="@Url.Action("Delete","TipoTerminales", new { id = item.Id })" class="btn btn-small btn-success btn-actions delete" data-gestion-target="#tipoTerminalesList">
                                            <i class="btn-icon-only fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="pagedList span7 offset5" data-gestion-target="#tipoTerminalesList">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>

