@model Paramedic.Gestion.Web.ViewModels.VideoViewModel

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="widget">
                    <div class="widget-header">
                        <h3>Videos</h3>
                    </div>

                    <div class="widget-content">
                        <fieldset>

                            <div class="control-group">
                                <label class="control-label" for="Descripcion">Descripci&oacute;n</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Descripcion, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.Descripcion)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="vidCliente">Cliente</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.ClienteId, new SelectList(ViewBag.Clientes, "Id", "RazonSocial"), null, new { @class = "col-xs-12 form-control" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="esPublico">Es P&uacute;blico?</label>
                                <div class="controls margin-left-5">
                                    @Html.CheckBoxFor(model => model.EsPublico)
                                    @Html.ValidationMessageFor(model => model.EsPublico)
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Alias">Alias</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Alias, new { @class = "col-xs-12 form-control" })
                                    @Html.ValidationMessageFor(model => model.Alias)
                                </div>
                            </div>

                            <br>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn-outline">Guardar</button>
                                <a href="@Url.Action("Index")" class="btn btn-danger btn-outline">Cancelar</a>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
