@model PagedList.IPagedList<Paramedic.Gestion.Model.Video>
@using PagedList.Mvc;

<div id="videosList">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" style="margin-bottom:-30px">
            <div class="widget widget-table action-table">
                <div class="widget-header">
                    <h3>Videos</h3>
                </div>

                <div class="widget-content">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="col-xs-2">Tema </th>
                                <th class="col-xs-2">@Html.DisplayNameFor(model => model.First().UpdatedDate)</th>
                                <th class="col-xs-2">Car&aacute;cter </th>
                                <th class="col-xs-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                                    </td>

                                    @if (item.EsPublico)
                                    {
                                        <td class="col-xs-2 centrado verde">P&uacute;blico</td>
                                    }
                                    else
                                    {
                                        <td class="col-xs-2 centrado rojo">Privado</td>
                                    }

                                    <td class="centrado">
                                        @{
                                            var linkVideo = string.Format("{0}/{1}/{2}.{3}", "http://200.49.156.125:57774", "videos_shaman", item.Alias, "mp4");
                                        }
                                        <a href="@linkVideo" target="_blank" class="btn btn-small btn-success btn-actions link-video" data-id="@item.Id"><i class="btn-icon-only fa fa-video-camera"></i></a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
    <div class="pagedList centered" data-gestion-target="#videosList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
    @*@Html.Partial("_VideosContainer", Model)*@
</div>
