@model Paramedic.Gestion.Model.ProductosModulo

<div class="main">
	<div class="main-inner">
		<div class="container">
			<div class="col-xs-6 col-xs-offset-3">
				<div class="widget">
					<div class="widget-header">
						<h3>Registro de Módulos</h3>
					</div>
					<div class="widget-content">
						<fieldset>
							<div class="control-group">
								<label class="control-label" for="Codigo">Código</label>
								<div class="controls">
									@Html.TextBoxFor(model => model.Codigo, new { @class = "col-xs-12 form-control", autofocus = "" })
									@Html.ValidationMessageFor(model => model.Codigo)
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="Descripcion">Descripción</label>
								<div class="controls">
									@Html.TextBoxFor(model => model.Descripcion, new { @class = "col-xs-12 form-control", autofocus = "" })
									@Html.ValidationMessageFor(model => model.Descripcion)
								</div>
							</div>

							@if (ViewBag.IsCreateForm == null)
							{
								@Html.Partial("_Intentos", Model.Intentos, new ViewDataDictionary { { "productosModuloId", Model.Id } })
							}

							<br>

							<div class="form-actions">
								<button type="submit" class="btn btn-success btn-outline">Guardar</button>
								<a href="@Url.Action("Index")" class="btn btn-danger btn-outline">Cancelar</a>
							</div>

						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



