@model Paramedic.Gestion.Web.ViewModels.AddonHistorialViewModel

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	@Html.HiddenFor(x => x.ClientesLicenciasProductoId)
	@Html.HiddenFor(x => x.ProductosModulosIntentoId)
	@Html.HiddenFor(x => x.ProductosModuloId)
	@Html.HiddenFor(x => x.ModuloDescripcion)
	@Html.HiddenFor(x => x.TrialCantidadDias)
	@Html.HiddenFor(x => x.LicenseSerial)

	<div class="col-xs-6 col-sm-offset-3 confirm-trial-container">
		<div class="alert" role="alert">
			<div class="col-xs-12 trial-message"><strong><i class="fa fa-exclamation-circle margin-right-10"></i>Confirma que desea iniciar el trial del módulo @Model.ModuloDescripcion por @Model.TrialCantidadDias días?</strong></div>
			<div class="float-right trial-buttons">
				<button type="submit" class="btn btn-success btn-outline">Aceptar</button>
				<a href="@Url.Action("Index","Addons", new { license = ViewBag.License})"
				   class="btn btn-default">
					Volver
				</a>	
			</div>
		</div>
	</div>
}

