@using System.Globalization;
@using Paramedic.Gestion.Web.HtmlHelpers
@model Paramedic.Gestion.Web.ViewModels.AddonsViewModel

<div class="row-fluid">
	<div class="col-xs-8">
		<div class="row">
			@foreach (var noticia in Model.Noticias)
			{
				<div class="col-xs-3 col-news">
					<div class="news-container">
						<div class="news-header">
							<div class="title">@HtmlHelpers.Truncate(@noticia.Titulo, 30)</div>
						</div>
						<div class="news-body">
							<span class="badge badge-date">@String.Format("{0} de {1}", @noticia.CreatedDate.Day, @noticia.CreatedDate.ToString("MMMM", CultureInfo.CreateSpecificCulture("es")).Substring(0, 3))</span>
							<p class="description">@HtmlHelpers.Truncate(@noticia.Descripcion, 170) </p>
						</div>
					</div>
				</div>
			}
		</div>


	</div>
	<div class="col-xs-4">
		<div id="addonsModulesContainer">
			<div id="addonsModulesHeader">
				<i class="fa fa-list-alt margin-right-5"></i>Módulos disponibles para trial
			</div>
			<div id="addonsModulesBody">
				@foreach (var modulo in Model.Modulos)
				{
					<button id="moduleContainer" class="col-xs-6" onclick="location.href='@Url.Action("ConfirmAddonTrial", "Addons", new { license = Model.License, prodModId = modulo.Id })'">
						<span class="font-size-12">@modulo.Descripcion</span>
					</button>
				}
			</div>
		</div>
	</div>
</div>

