@using System.Globalization;
@using Paramedic.Gestion.Web.HtmlHelpers
@model Paramedic.Gestion.Web.ViewModels.AddonsViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Addons</title>
	<link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/bootstrap/bootstrap.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/styles/style-addons.css")" rel="stylesheet" />

	<script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
<body>

	<div class="row-fluid">
		<div class="col-xs-8">


			<div class="row">
				@foreach (var noticia in Model.Noticias)
				{
					<div class="col-xs-3 col-news">
						<div class="news-container">
							<div class="news-header">
								<div class="title">@HtmlHelpers.Truncate(@noticia.Titulo, 30)</div>
							</div>
							<div class="news-body">
								<span class="badge badge-date">@String.Format("{0} de {1}", @noticia.FechaVencimiento.Day, @noticia.FechaVencimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es")).Substring(0, 3))</span>
								<p class="description">@HtmlHelpers.Truncate(@noticia.Descripcion, 170) </p>
							</div>
						</div>
						@*<div class="thumbnail">
								<div class="date">
									<div class="day">@noticia.FechaVencimiento.Day</div>
									<div class="month">@noticia.FechaVencimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es")).Substring(0, 3)</div>
								</div>
							</div>

							<div class="post-content">
								<h1 class="title">@noticia.Titulo</h1>
								<p class="description">@HtmlHelpers.Truncate(@noticia.Descripcion, 170) </p>
							</div>*@
					</div>
				}
			</div>


		</div>
		<div class="col-xs-4">
			<div id="addonsModulesContainer">
				<div id="addonsModulesHeader">
					<i class="fa fa-list-alt margin-right-5"></i>Módulos disponibles para trial
				</div>
				<div id="addonsModulesBody">
					<div class="row">
						@foreach (var modulo in Model.Modulos)
						{
							<div class="col-xs-6">
								<div id="moduleContainer">
									<img class="img-addon" src="@string.Format("./Content/images/productosmodulos/{0}", modulo.PathImagenAddon)" />
									<span>@modulo.DescripcionAddon</span>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>





</body>
</html>
