@model Paramedic.Gestion.Model.MedioDifusion

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="widget">
                    <div class="widget-header">
                        
                        <h3>Registro de Medios de Difusi&oacute;n</h3>
                    </div>
                    <div class="widget-content">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="Descripcion">Descripci&oacute;n</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Descripcion, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.Descripcion)
                                </div> <!-- /controls -->
                            </div> <!-- /control-group -->

                            <div class="control-group">
                                <label class="control-label" for="Descripcion">Visible en mapa?</label>
                                <div class="controls">
                                    @Html.EditorFor(model => model.MapaVisible, new { @class = "col-xs-5"})
                                    @Html.ValidationMessageFor(model => model.MapaVisible)
                                </div> 
                            </div>

                            <br>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn-outline">Guardar</button>
                                <a href="@Url.Action("Index")" class="btn btn-danger btn-outline">Cancelar</a>
                            </div> 
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
