@model Paramedic.Gestion.Model.RegisterModel

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="widget">
                    <div class="widget-header">
                        <h3>Usuarios</h3>
                    </div>

                    <div class="widget-content">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="UserName">Nombre de Usuario</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "col-xs-12 form-control", autofocus = "" })
                                </div>
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Nombre">Nombre</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Nombre, new { @class = "col-xs-12 form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Nombre)
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Apellido">Apellido</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Apellido, new { @class = "col-xs-12 form-control" })
                                </div>@Html.ValidationMessageFor(model => model.Apellido)
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Password">Password</label>
                                <div class="controls">
                                    @Html.PasswordFor(model => model.Password, new { @class = "col-xs-12 form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="ConfirmPassword">Confirmar Password</label>
                                <div class="controls">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "col-xs-12 form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>

                            @*<div class="control-group">
                                    <label class="control-label" for="Email">Email</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "col-xs-12 form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>*@

                            <div class="control-group">
                                <label class="control-label" for="emails[]">Emails</label>
                                <div class="controls user-mail-controls">
                                    @{
                                        if (ViewBag.Emails != null)
                                        {
                                            foreach (string email in ViewBag.Emails)
                                            {
                                                if (!string.IsNullOrEmpty(email))
                                                {
                                                    @Html.Partial("_MailControl", email)
                                                }
                                            }
                                        }
                                    }

                                    @Html.Partial("_MailControl", "")
                                </div>
                                @Html.ValidationMessage("Emails")
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="selectedRole">Rol</label>
                                <div class="controls">
                                    @Html.DropDownList("selectedRole", (SelectList)ViewBag.Roles, new { @class = "col-xs-12 form-control" })
                                </div>
                            </div>

                            <br>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn-outline">Guardar</button>

                                <a href="@Url.Action("Index", "Account")" class="btn btn-danger btn-outline">
                                    Cancelar
                                </a>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



